/* {} */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    transition: transform .5s;
}

.card:hover {
    transform: translateY(-5px);
}

card::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: scaleY(0.75);
    transform-origin: bottom;
    background: linear-gradient(transparent,
    rgba(0,0,0,0.4), #000);
    transition: transform 0.25s;
}
